Blocstagram.xcworkspace/xcuserdata/ericbeasley.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
Blocstagram/.DS_Store
Pods/.DS_Store
Blocstagram.xcworkspace/xcuserdata/ericbeasley.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/eric.xcuserdatad/
Blocstagram.xcworkspace/xcuserdata/eric.xcuserdatad/
